/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.ocultar {
  visibility: hidden;
}

li:hover * {
  visibility: visible;
}

input.list-group-item:focus {
  outline: none;
}

.icon-button {
  border: none;
  background-color: none;
  padding: 0;
}

span {
  font-size: 12px;
}
